body {
    background-color: hsl(225, 100%, 94%);
}
.bg {
    width: 100%;
    height: 437px;
    background-image: url("/images/pattern-background-desktop.svg");
    position: relative;
}
.card {
    width: 450px;
    height: 697px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
}
.card-img-div {
    width: 100%;
    height: 220px;
}
.card-img-div img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
h2{
    font-size: 28px;
    font-weight: 900;
    color: #1F2E55;
    font-family: 'Red Hat Display';
}
.text p{
    font-size: 16px;
    font-weight: 500;
    color: #717FA6;
    font-family: 'Red Hat Display';
    line-height: 26px;
    text-align: center;
}
.text {
    width: 354px;
}
.plan {
    width: 354px;
    height: 98px;
    background-color: #F7F9FF;
    border-radius: 11px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.music{
    width: 48px;
    height: 48px;
    
    
}
.music img {
    width: 100%;
}
.price-info {
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: -40px;
}
.price-info h6{
    font-size: 16px;
    font-weight: 900;
    color:#1F2E55;
    font-family: 'Red Hat Display';
}
.price-info p{
    font-size: 16px;
    font-weight: 500;
    color:#717FA6;
    font-family: 'Red Hat Display';
}
.change {
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Red Hat Display';
    color:#382AE1;
    text-decoration: underline;
}
.change:hover {
    text-decoration: none;
    color: #766CF1;
    cursor: pointer;
}
.payment {
    width: 354px;
    height: 50px;
    border-radius: 11px;
    background-color: #382AE1;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Red Hat Display';
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
}
.payment:hover {
    background-color:#766CF1;
    cursor: pointer;
}
.cancel {
    font-size: 15px;
    font-weight: 900;
    color: #717FA6;
    border: none;
    background: none;
    font-family: 'Red Hat Display';
    margin-bottom: 48px;
}
.cancel:hover {
    color: #1F2E55;
    cursor: pointer;
}
@media (max-width: 375px){
    .bg {
        background-image: url('/images/pattern-background-mobile.svg');
        height: 174px;
    }
    .card {
        width: 327px;
        height: 567px;
    }
    .card-img-div {
        height: 160px;
    }
    h2{
        font-size: 22px;
    }
    .text p {
        font-size: 15px;
    }
    .text {
        width: 263px;
    }
    .plan {
        width: 279px;
        height: 81px;
    }
    .price-info h6, .price-info p {
        font-size: 14px;
    }
    .price-info {
        margin-left: -20px;
    }
    .payment {
        width: 279px;
    }
    .cancel {
        margin-bottom: 32px;
    }

}